{% extends "base.html" %}
{% load static %}
{% load temp_tags %}

{% block title %}
Kataloglar | The Gusto
{% endblock %}

{% block body %}
<div class="marka-container">
        <div class="container mt-3" id="test-list">
            <div class="row">
                <div class="col-md-3" style="color: #a3a3a3; font-size: 12px;">
                    Ana Sayfa &gt; Kataloglar
                </div>

                <div class="col-md-9 hide">
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <label class="select">
                                <select>
                                    <option value="1">Pure CSS Select</option>
                                    <option value="2">With wrapper</option>
                                    <option value="3">No JS!</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label class="inputsearch search">
                                <input type="text">
                            </label>
                        </div>
                        <div class="col-md-4 mb-4 d-flex justify-content-end">
                            <ul class="pagination"></ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-5 mt-3">
                
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row list">
                                {% for item in cat_files %}
                                
                                <div class="col-md-3 mb-3 product" data-category="" data-marka="firma-profili" style="display: block;">
                                    <div class="card">
                                        <a class="pdf-link" href="{{ item.url }}" target="_blank">
                                            
                                        <div class="card-body text-center">
                                            <img src="{% static 'katalog/'|add:item.img %}">
                                            <p class="h6 ">
                                                {{item.text}}
                                          
                                            </p>
                                            <span>    </span>
                                        </div>
                                            </a>
                                    </div>
                                </div>
                                {% endfor %}
                                
                                        


                 

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block lowerJs %}
{% endblock %}