{% extends "base.html" %}
{% load static %}

{% block title %}
Kişisel Verileri Korunma Kanunu | The Gusto
{% endblock %}

{% block body %}
<div class="marka-container">
        <div class="container mt-3" id="test-list">
            <div class="row">
                <div class="col-md-3 mb-3" style="color: #a3a3a3; font-size: 12px;">
                    Ana Sayfa &gt; Çerez Politikası
                </div>
            </div>
        </div> 

    </div>
    <div id="kurumsal-detay">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-md-12">
                <p align="left">
                    <strong>ÇEREZLER</strong><br>
                   The Gusto olarak, web sitemizin kullanımını kolaylaştırmak ve sitemizin kullanımını kişiselleştirmek amacıyla çerezler, piksel etiketleri ("pikseller") ve yerel saklama teknolojileri kullanmaktayız. Bu sayfanın, anılan teknolojilerin niçin kullanıldıklarını ve bunları kontrol etmeyi veya -tercihiniz bu yöndeyse- silmeyi anlamanıza yardımcı olmasını istiyoruz.&nbsp;
                </p>
                <p align="left">
                    <strong>Çerez Nedir?</strong><br>
                    Çerez, bir web sitesini ziyaret ettiğinizde cihazınıza (örneğin; bilgisayar veya cep telefonu) depolanan küçük bir metin dosyasıdır. Çerezler, bir web sitesini ilk ziyaretiniz sırasında tarayıcınız aracılığıyla cihazınıza depolanabilirler. Aynı siteyi aynı cihazla tekrar ziyaret ettiğinizde tarayıcınız cihazınızda site adına kayıtlı bir çerez olup olmadığını kontrol eder. Eğer kayıt var ise, kaydın içindeki veriyi ziyaret etmekte olduğunuz web sitesine iletir. Bu sayede web sitesi, sizin siteyi daha önce ziyaret ettiğinizi anlar ve size iletilecek içeriği de ona göre tayin eder.&nbsp;
                </p>
                <p align="left">
                    <strong>Çerezler Neden Kullanılır?</strong><br>
                    Bazı çerezler, daha önceki ziyaretlerinizde kullandığınız tercihlerin web sitesi tarafından hatırlanmasını sağlayarak, sonraki ziyaretlerinizin çok daha kullanıcı dostu ve kişiselleştirilmiş bir deneyim sunmasını sağlar.
                </p>
                <p align="left">
                    <strong>Çerezleri Kontrol Etme ve Silme</strong><br>
                    Çerezlerin kullanımına ilişkin tercihlerinizi değiştirmek ya da çerezleri engellemek veya silmek için tarayıcınızın ayarlarını değiştirmeniz yeterlidir. Birçok tarayıcı çerezleri kontrol edebilmeniz için size çerezleri kabul etme veya reddetme, yalnızca belirli türdeki çerezleri kabul etme ya da bir web sitesi cihazınıza çerez depolamayı talep ettiğinde tarayıcı tarafından uyarılma seçeneği sunar. Aynı zamanda daha önce tarayıcınıza kaydedilmiş çerezlerin silinmesi de mümkündür. Çerezleri kontrol edilmesine veya silinmesine ilişkin işlemler kullandığınız tarayıcıya göre değişebilmektedir.
                </p>
                <p>
                    <strong>Sitemizde mevcut çerezler</strong><br>
                    Bu çerezler, ziyaretçilerimizin web sitesini nasıl kullandıkları hakkında bilgi toplamaktadır. Örneğin, ziyaretçilerin en sık gidecekleri sayfaları ve web sayfalarından hata mesajları alıp almadıklarını bilmemizi sağlar. Bu çerezler, bir ziyaretçiyi tanımlayan bilgileri değil anonim olarak bilgi toplama işlemi yapmaktadır.
                </p>
                <table class="table table-bordered" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top" width="295"><strong>ÇEREZ </strong></td>
                            <td valign="top" width="520">
                                <p><strong>ÇEREZ’İN TANIMI</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="295">
                                <p><strong>_ga</strong></p>
                            </td>
                            <td valign="top" width="520">
                                <p>Google Universal Analytics ile ilişkisi olan bir çerezdir. Bu çerez, istemci tanımlayıcısı olarak rastgele oluşturulmuş bir numara atayarak benzersiz kullanıcıları ayırmak için kullanılır. Sitelerin analiz raporları için ziyaretçi, oturum ve kampanya verilerini hesaplamak için kullanılır. 2 yıl saklanır</p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="295">
                                <p>_gat</p>
                            </td>
                            <td valign="top" width="520">
                                <p>Google Universal Analytics ile ilişkilidir - yüksek trafik alanlarındaki verilerin toplanmasını sınırlar. 1 gün saklanır</p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="295">
                                <p>_gid</p>
                            </td>
                            <td valign="top" width="520">
                                <p>24 saatlik bir kullanıcı analitiği depolaması yapmaktadır. 1 gün saklanır</p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="295">
                                <p>collect google-analytics.com</p>
                            </td>
                            <td valign="top" width="520">
                                <p>Ziyaretçinin cihazı ve davranışı hakkında Google Analytics’e veri göndermek için kullanılır. Oturum boyunca saklanır</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <strong>Saklama Süresi</strong><br>
                    Çerezler, farklı süreler boyunca saklanmaktadır:
                </p>
                <ul style="font-weight:200">
                    <li>Oturum Çerezleri: Oturum Çerezleri sadece web sitemize yaptığınız ziyaret süresince saklanır, dolayısıyla web sitemizden birine veya bir tarayıcı oturumuna yaptığınız mevcut ziyaretiniz süresince Çerez kullanılır.</li>
               
                    <li>Kalıcı Çerezler: Kalıcı Çerezler, bilgisayarınızın veya mobil cihazınızın sabit diskinde, web sitemize yaptığımız ziyaretlerin veya bir tarayıcı oturumunun ötesinde saklanır. Web sitemizi bir sonraki ziyaretinizde sizi tanımamıza ve web sitemizi kullanmanızın kolaylaştırılması mümkün kılınır.</li>
                </ul>
            </div>
                </div>
        </div>
    </div>
{% endblock %}
{% block lowerJs %}

{% endblock %}