{% extends "base.html" %}
{% load static %}

{% block title %}
Kişisel Verileri Korunma Kanunu | The Gusto
{% endblock %}

{% block body %}
<div class="marka-container">
        <div class="container mt-3" id="test-list">
            <div class="row">
                <div class="col-md-3 mb-3" style="color: #a3a3a3; font-size: 12px;">
                    Ana Sayfa &gt; Kişisel Verileri Koruma Kanunu

                </div>
            </div>
        </div>

    </div>
    <div id="kurumsal-detay">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="font-40">Kişisel Verileri Koruma Kanunu</h1>
                    <p></p>
                    <p><strong>Kişisel Verilerin Korunması Kanunu Hakkında Aydınlatma Metni</strong></p>
                    <p>The Gusto ("The Gusto" olarak anılacaktır) olarak, 6698 sayılı Kişisel Verilerin Korunması Kanunu ("KVKK") kapsamında, kişisel verilerinizin güvenliği ve gizliliğine büyük önem veriyoruz. Bu Aydınlatma Metni, kişisel verilerinizin nasıl işlendiği hakkında bilgi vermek amacıyla hazırlanmıştır.</p>
                    <p><strong>1. Kişisel Verilerin Toplanması ve İşlenmesi</strong></p>
                    <p>Kişisel verileriniz, KVKK'ya uygun olarak aşağıdaki amaçlarla toplanmakta ve işlenmektedir:</p>
                    <ul>
                        <li>Hizmetlerimizin sunulması ve iyileştirilmesi,</li>
                        <li>Müşteri ilişkilerinin yönetimi,</li>
                        <li>Yasal yükümlülüklerin yerine getirilmesi,</li>
                        <li>Pazarlama faaliyetlerinin yürütülmesi.</li>
                    </ul><br>
                    <p><strong>2. Kişisel Verilerin Korunması</strong></p>
                    <p>Kişisel verilerinizin güvenliği için gerekli teknik ve idari tedbirler alınmaktadır. Verileriniz, yetkisiz erişim, kaybolma, değiştirilme ve ifşa edilme gibi risklere karşı korunmaktadır.</p>
                    <p><strong>3. Kişisel Verilerin Aktarılması</strong></p>
                    <p>Kişisel verileriniz, yasal yükümlülükler çerçevesinde ve belirtilen amaçlarla iş ortaklarımıza, tedarikçilerimize ve yetkili kamu kurum ve kuruluşlarına aktarılabilir.</p>
                    <p><strong>4. Kişisel Veri Sahibinin Hakları</strong></p>
                    <p>KVKK'nın 11. maddesi uyarınca, kişisel veri sahipleri aşağıdaki haklara sahiptir:</p>
                    <ul>
                        <li>Kişisel verilerinin işlenip işlenmediğini öğrenme,</li>
                        <li>İşlenen kişisel veriler hakkında bilgi talep etme,</li>
                        <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
                        <li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</li>
                        <li>Kişisel verilerin eksik veya yanlış işlenmiş olması halinde düzeltilmesini isteme,</li>
                        <li>Kişisel verilerin silinmesini veya yok edilmesini isteme,</li>
                        <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,</li>
                        <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız halinde zararın giderilmesini talep etme.</li>
                    </ul><br>
                    <p><strong>5. İletişim</strong></p>
                    <p>Kişisel verilerinizle ilgili her türlü soru ve talepleriniz için bizimle iletişime geçebilirsiniz:</p>
                    <ul>
                        <li>E-posta: <a href="mailto:info@thegusto.com.tr" target="_blank" rel="noreferrer">info@thegusto.com.tr</a> </li>
                        <li>Telefon:&nbsp;<a href="http://tel:+90 555 448 99 70 " target="_blank">+90 555 448 99 70 </a></li>
                        <li>Adres: 150 Evler Mah. 1038 Sokak No:1 Ayvalık / BALIKESİR</li>
                    </ul>
                    <p>The Gusto  olarak kişisel verilerinizin güvenliği ve gizliliği konusunda her zaman yanınızdayız.</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block lowerJs %}

{% endblock %}