{% load static %}
<header id="header" class="header fixed-navbar">
                    <nav class="navbar navbar-expand-lg">

                        <div class="container">
                            <a class="navbar-brand" href="{% url 'index' %}">
                                <div class="logo">
                                    <img src="{% static 'img/logo.png'%}" alt="">
                                </div>
                            </a>
                                
                            <button class="navbar-toggler" type="button">
                                <span class="menu-lines"><span></span></span>
                            </button>

                            <div style="width: 100%; justify-content: center;">


                                <div style="text-align: right" class="d-none d-lg-block" id="toplink">

                                    {% comment %} <a href="#" target="_blank" style="margin-right: 3px"><i class="fab fa-linkedin" aria-hidden="true"></i></a> {% endcomment %}
                                    <a href="https://www.instagram.com/thegustoayvalik/" target="_blank" style="margin-right: 3px"><i class="fab fa-instagram" aria-hidden="true"></i></a>

                                    {% comment %} <a href="#" target="_blank" style="margin-right: 20px"><i class="fab fa-facebook" aria-hidden="true"></i></a> {% endcomment %}


                                    <a href="https://wa.me/905554489970" style="margin-right: 15px">
                                        <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
                                        Whatsapp Hattı</a>

                                    <a href="tel:0(555)-448-99-70">

                                        <svg id="Group_101" data-name="Group 101" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16.855" height="16.776" viewBox="0 0 16.855 16.776">
                                            <defs>
                                                <clipPath id="clip-path">
                                                    <rect id="Rectangle_47" data-name="Rectangle 47" width="16.855" height="16.776" fill="#90959b"></rect>
                                                </clipPath>
                                            </defs>
                                            <g id="Group_100" data-name="Group 100" clip-path="url(#clip-path)">
                                                <path id="Path_9993" data-name="Path 9993" d="M4.411,101.93a18.062,18.062,0,0,0,6.925,4.328,1.578,1.578,0,0,0,1.623-.387l.938-.938a.421.421,0,0,0-.06-.646L10.484,102a.4.4,0,0,0-.5.047l-.068.068a1.16,1.16,0,0,1-1.641,0,18.264,18.264,0,0,1-4.042-4.042,1.16,1.16,0,0,1,0-1.641l.068-.068a.4.4,0,0,0,.047-.5L2.053,92.5a.421.421,0,0,0-.646-.06l-.938.938A1.578,1.578,0,0,0,.083,95a18.062,18.062,0,0,0,4.328,6.925" transform="translate(0 -89.565)" fill="#90959b"></path>
                                                <path id="Path_9994" data-name="Path 9994" d="M347.532,368.55l4.234,2.892a.173.173,0,0,0,.221-.021l.3-.3a.681.681,0,0,0-.1-1.044l-2.867-1.959a1.431,1.431,0,0,0-1.819.17.174.174,0,0,0,.025.266" transform="translate(-337.084 -356.884)" fill="#90959b"></path>
                                                <path id="Path_9995" data-name="Path 9995" d="M76.164,50.834,73.272,46.6a.174.174,0,0,1,.021-.221l.3-.3a.681.681,0,0,1,1.044.1L76.6,49.039a1.431,1.431,0,0,1-.17,1.819.174.174,0,0,1-.266-.025" transform="translate(-71.055 -44.506)" fill="#90959b"></path>
                                                <path id="Path_9996" data-name="Path 9996" d="M222.809,10.334a.53.53,0,0,1-.155-.408,8.436,8.436,0,0,0-2.539-6.307l0,0,0,0-.044-.044A8.433,8.433,0,0,0,213.8,1.075a.531.531,0,1,1-.065-1.06,9.526,9.526,0,0,1,7.126,2.851,9.529,9.529,0,0,1,2.851,7.126.531.531,0,0,1-.905.343" transform="translate(-206.873 0)" fill="#90959b"></path>
                                                <path id="Path_9997" data-name="Path 9997" d="M262.051,110.438a.531.531,0,0,1,.459-.9,6.432,6.432,0,0,1,5.146,5.146.531.531,0,0,1-1.049.167,5.4,5.4,0,0,0-4.264-4.264.529.529,0,0,1-.292-.149" transform="translate(-254.077 -106.261)" fill="#90959b"></path>
                                            </g>
                                        </svg>
                                        +90 (555) 448 99 70
                                    </a>



                                </div>

                                <div class="d-flex">
                                    <div class="collapse navbar-collapse" id="mainNavigation" style="flex-direction: column-reverse">
                                        <ul class="navbar-nav mr-auto ml-auto">

                                            <!-- /.nav-item -->
                                            <li class="nav__item">
                                                <a href="{% url 'index' %}" class="nav__item-link">ANA SAYFA</a>
                                            </li>
                                            <!-- /.nav-item -->
                                            <li class="nav__item with-dropdown nav-item dropdown" style="position: static;">
                                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">KURUMSAL <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                </a>
                                                <div class="dropdown-menu" style="width: 100%;">
                                                    <div class="px-0 container" style="max-width: 620px !important; padding-top: 20px">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <ul>
                                                                    <li><a href="{% url 'about' %}">Hakkımızda</a></li>
                                                                    <li><a href="{% url 'kvkk' %}">Kişisel Verilerin Korunması</a></li>
                                                                    <li><a href="{% url 'cerez-politikasi' %}">Çerez Politikası</a></li>
                                                                </ul>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.dropdown-menu -->
                                            </li>
                                            <!-- /.nav-item -->
                                             <li class="nav__item">
                                                <a href="{% url 'gallery' %}" class="nav__item-link">GALERİ</a>
                                            </li>
                                            <li class="nav__item">
                                                <a href="{% url 'blogs' %}" class="nav__item-link">BLOG</a>
                                            </li>

                                            <li class="nav__item">
                                                <a href="{% url 'contact' %}" class="nav__item-link">İLETİŞİM</a>
                                            </li>
                                           



                                            <li class="nav__item  d-flex align-items-center">
                                                <a href="{% url 'catalog' %}" class="btn btn__primary nav_btn" style="line-height: 28px">KATALOGLAR</a>
                                            </li>
                                            <!-- /.nav-item -->
                                        </ul>
                                        <!-- /.navbar-nav -->
                                    </div>

                                </div>


                            </div>
                            <!-- /.navbar-collapse -->

                            <!-- /.navbar-modules -->
                        </div>

                        <!-- /.container -->
                    </nav>
                    <!-- /.navabr -->
                </header>